@{
  Layout = "_Layout";
}

<a href="/flights"><h2>View Flights</h2></a>
<a href="/flightForm"><h4>Add A New Flight</h4></a>

<a href="/cities"><h2>View Cities</h2></a>
<a href="/cityForm"><h4>Add A New City</h4></a>
